@import url('./__input/login__input.css');
@import url('./__title/login__title.css');

.login {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #000000;
  width: 358px;

}

.login:focus {
  outline: none;
}